<section class="section1">
  <h2 class="heading">About <span>Me</span></h2>

  <div class="about-container">

      <img class="about-img" src="assets/img/aboutpic.png">
      <h3>Frontend Developer</h3>
      <h4>Welcome to my portfolio website! I'm thrilled to share my journey as a student aspiring to become a web developer.</h4>
      <p>
        My name is Jhune Melvin Karunungan, and I have a deep passion for creating visually appealing and functional websites.
        I am constantly pushing myself to learn and grow in the ever-evolving field of technology. I believe in the importance
        of combining theoretical knowledge with hands-on experience, and I actively seek opportunities to apply my skills in practical projects.
      </p>

      <div class="btn1">
        <button (click)="scrollDown()" class="btn">Read More</button>
      </div>
  </div>
</section>

<section class="about">
  <div class="section2">
  <div class="readm-pic">
    <img src="assets/img/dev.jpg" alt="">
  </div>
  <div class="about-container-2">
    <h6>I am truly excited about the opportunities that lie ahead as a student developer.</h6>
    <p>
      My goal is to contribute to meaningful projects that make a difference in people's
      lives. Whether it's developing innovative software, creating user-friendly interfaces,
      or solving complex problems, I am ready to take on new challenges and leave a lasting
      impact.
    </p>
  </div>
</div>
  <h5>My <span>Skills</span></h5>
  <div class="skill-container">
    <div class="skill-box">
      <fa-icon id="code" [icon]="html"></fa-icon>
      <h3>HTML</h3>
    </div>
    <div class="skill-box">
      <fa-icon id="code" [icon]="css"></fa-icon>
      <h3>CSS</h3>
    </div>

    <div class="skill-box">
      <fa-icon id="code" [icon]="js"></fa-icon>
      <h3>JavaScript</h3>
    </div>

    <div class="skill-box">
      <fa-icon id="code" [icon]="angular"></fa-icon>
      <h3>Angular</h3>
    </div>

    <div class="skill-box">
      <fa-icon id="code" [icon]="github"></fa-icon>
      <h3>Github</h3>
    </div>
  </div>
</section>



