section {
  min-height: 100vh;
  padding: 4rem 7% 1rem;
  color: #fff;
  background: #323946;

}

.heading {
  font-size: 3rem;

  margin-bottom: 2rem;
  text-align: center;
  font-weight: 850;
}

span {
  color: #0ef;
}

.about-img {
  width: 13rem;
  display: block;
  margin: auto;
}



.about-container h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
}

.about-container p {
  text-align: center;
  margin: 1.5rem 6% 2rem;
}
