<section class="about">
  <h2 class="heading">About <span>Me</span></h2>

  <div class="about-container">
    <div class="">
      <img class="about-img" src="assets/img/aboutpic.png">
      <h3>Frontend Developer</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, amet blanditiis
        assumenda perferendis magnam et iure, quod nisi adipisci consequatur ipsum quae
        quis nam omnis in voluptatem repellat vel dolores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ad, aperiam molestias.
      </p>
    </div>
  </div>
</section>
