<section class="body">
  <div class="contact-me flex w-full min-h-screen justify-center items-center bg-[#323946]">
    <div class="md:flex-row md:space-x-6 md:space-y-0 bg-[#1f242d] w-full max-w-4xl rounded-xl p-8 shadow-lg flex flex-col space-y-6">
      <div class="flex flex-col space-y-8 justify-between">
        <div>
          <h1 class="contact font-bold text-4xl text-white tracking-wide">
            Contact <span class="me">Me</span>
          </h1>
          <p class="pt-8 text-white text-sm">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, reiciendis optio
            explicabo perferendis
            pariatur magnam ipsam atque suscipit aliquam alias molestiae libero, laudantium id? Ad labore laboriosam quidem reiciendis rerum.
          </p>
        </div>
          <div class="flex flex-col space-y-4">
            <div class="inline-flex space-x-2 items-center">
              <fa-icon name="call" class="w-6 h-6 text-gray-500"  [icon]="faPhone"></fa-icon>
              <span class="text-white">+(69) 9958891362</span>
            </div>
            <div class="inline-flex space-x-2 items-center">
              <fa-icon name="mail" class="w-6 h-6 text-gray-500"  [icon]="faEnvelope"></fa-icon>
              <span class="text-white">jhunemelvin@gmail.com</span>
            </div>
            <div class="inline-flex space-x-2 items-center">
              <fa-icon name="location" class="w-6 h-6 text-gray-500"  [icon]="faMapMarkedAlt"></fa-icon>
              <span class="text-white">Southville 5A Biñan, Laguna</span>
            </div>
          </div>
          <div class="flex space-x-4">

          </div>
      </div>
      <div>
        <div class="bg-white rounded-xl shadow-lg p-8 text-gray-600 w-64">
          <form action="" class="flex flex-col space-y-4">
            <div>
              <label for="" class="text-sm">Your Name</label>
            </div>
            <div>
              <input type="text" placeholder="Your name" class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 focus:ring-teal-300"/>
            </div>
            <div>
              <label for="" class="text-sm">Email Address</label>
            </div>
            <div>
              <input type="email" placeholder="Email Address" class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 focus:ring-teal-300"/>
            </div>
            <div>
              <label for="" class="text-sm">Message</label>
            </div>
            <div>
              <textarea placeholder="Message" class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 focus:ring-teal-300"></textarea>
            </div>
            <button class="inline-block self-end bg-cyan-700 text-white font-bold rounded-lg px-6 py-2 uppercase text-sm">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
