section {
  background: #323946;
}

.me {
  color: #0ef;
}

.contact {
  font-size: 3rem;
  font-weight: 850;
}

.contact-me {
  padding: 4rem 7% 4rem;
}

.contact-me form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 0.5rem;
}

.contact-me form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.contact-me form .input-box input,
.contact-me form textarea {
  width: 100%;
  padding: 1rem;
  font-size: 0.9rem;
  color: #fff;
  background: #323946;
  border-radius: .8rem;
  margin: .7rem 0;
  margin-bottom: 0.1rem;
}

.contact-me form .input-box input {
  width: 49%;
}


