<section class="home">
  <div class="home-content flex flex-col justify-center">
    <h3>Hello, It's Me</h3>
    <h1>Jhune Melvin Karunungan</h1>
    <h3>And I'm a <span>Frontend Developer</span></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, vel
      veniam deleniti omnis accusantium amet cum commodi.</p>
      <div class="sm-account">
        <a href="https://www.facebook.com/jhunemelvin.karunungan?mibextid=ZbWKwL" target="_blank">
          <fa-icon name="logo-facebook"  [icon]="facebookIcon"></fa-icon>
        </a>
        <a href="https://www.facebook.com/jhunemelvin.karunungan?mibextid=ZbWKwL" target="_blank">
          <fa-icon name="logo-twitter"  [icon]="twitterIcon"></fa-icon>
        </a>
        <a href="https://www.facebook.com/jhunemelvin.karunungan?mibextid=ZbWKwL" target="_blank">
          <fa-icon name="logo-instagram"  [icon]="instagramIcon"></fa-icon>
        </a>
      </div>
  </div>
  <div class="home-pic">
    <img src="assets/img/homepic.png" alt="">
  </div>
</section>


