<section class="home">
  <div class="home-content flex flex-col justify-center">
    <h3>Hello, It's Me</h3>
    <h1>Jhune Melvin Karunungan</h1>
    <h3>And I'm a <span>Frontend Developer</span></h3>
    <p>"The men who try to do something and fail are infinitely better than those who try to do nothing and succeed."</p>
      <div class="sm-account">
        <a href="https://www.facebook.com/jhunemelvin.karunungan?mibextid=ZbWKwL" target="_blank">
          <fa-icon name="logo-facebook"  [icon]="facebookIcon"></fa-icon>
        </a>
        <a href="https://www.facebook.com/jhunemelvin.karunungan?mibextid=ZbWKwL" target="_blank">
          <fa-icon name="logo-twitter"  [icon]="twitterIcon"></fa-icon>
        </a>
        <a href="https://www.instagram.com/jhnmlvn/" target="_blank">
          <fa-icon name="logo-instagram"  [icon]="instagramIcon"></fa-icon>
        </a>
        <a href="https://github.com/jhunemelvin" target="_blank">
          <fa-icon name="logo-github"  [icon]="github"></fa-icon>
        </a>
      </div>
  </div>
  <div class="home-pic">
    <img src="assets/img/homepic.png" alt="">
  </div>
</section>


