<section class="services">
  <h2 class="heading">Our <span>Services</span></h2>

  <div class="services-container ">
    <div class="service-box">
      <fa-icon class="code" [icon]="faCode"></fa-icon>
      <h3>Web Development</h3>
      <p>
        Visually appealing, polished, and professional. Intuitive to use. Optimized
        for mobile devices and search engines. With easily accessible contact information.
        Matching the current trends. Regularly checked for any broken links or not working
        scripts.
      </p>
    </div>
  </div>
</section>
