<section class="services">
  <h2 class="heading">Our <span>Services</span></h2>

  <div class="services-container ">
    <div class="service-box">
      <fa-icon class="code" [icon]="faCode"></fa-icon>
      <h3>Web Development</h3>
      <p>
        Visually appealing, polished, and professional. Intuitive to use. Optimized
        for mobile devices and search engines. With easily accessible contact information.
        Matching the current trends. Regularly checked for any broken links or not working
        scripts.
      </p>
    </div>

    <div class="service-box">
      <fa-icon class="code" [icon]="penIcon"></fa-icon>
      <h3>UI/UX Design</h3>
      <p>
        Ready to take your portfolio to the next level?With our expertise in user experience
         (UX) design and intuitive user interface (UI) elements, we ensure that your portfolio
         website becomes a powerful tool to attract clients, employers, or collaborators.
      </p>
    </div>
  </div>
</section>
