<section class="services">
  <h2 class="heading">Our <span>Services</span></h2>

  <div class="services-container ">
    <div class="service-box">
      <fa-icon class="code" [icon]="faCode"></fa-icon>
      <h3>Web Development</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, amet blanditiis
        assumenda perferendis magnam et iure, quod nisi adipisci consequatur ipsum quae
        quis nam omnis in voluptatem repellat vel dolores!
      </p>
    </div>
  </div>
</section>
